@keyframes created {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.created {
  animation: created 0.1s ease-in-out;
}

@keyframes deleted {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50%);
  }
}
.deleted {
  animation: deleted 0.1s ease-in-out;
}

@keyframes respirar {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
.selected {
  animation: respirar 2s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate {
  animation: rotate 1s linear infinite;
}
.rotate img:hover {
  transform: scale(1.2);
  transition: scale 0.04s ease-in;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-family: sans-serif;
  background-color: #181A1B;
  overflow-x: hidden;
}

#date {
  background-color: white;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  font-size: 1.25rem;
}

h1 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
h1 img {
  width: 40px;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: rgb(9, 92, 120);
  border-radius: 5px;
}
.task p {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.2rem;
  max-width: 50vw;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
}

.selected {
  transform: scale(1.1);
}

.cheked {
  text-decoration: line-through;
}

.checked-parent {
  opacity: 0.6;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
form input {
  height: 1.5rem;
  width: 13rem;
  padding: 0.3rem 0;
  outline: none;
  font-size: 1.4rem;
}

#btn-replace, #idea, #settings, #cleanTasks, #addTask, #btn-check, #btn-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#btn-replace img, #idea img, #settings img, #cleanTasks img, #addTask img, #btn-check img, #btn-delete img {
  width: 30px;
  height: 30px;
}
#btn-replace:hover, #idea:hover, #settings:hover, #cleanTasks:hover, #addTask:hover, #btn-check:hover, #btn-delete:hover {
  transform: scale(1.2);
  transition: all 0.04s ease-in;
}

#addTask img, #cleanTasks img {
  width: 45px;
  height: 45px;
}

.container-date-idea {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.7rem;
  margin-top: 2rem;
}

#idea, #settings {
  display: flex;
  justify-content: center;
  align-items: center;
}
#idea img, #settings img {
  background-color: white;
  border-radius: 50%;
  padding: 0.4rem;
  height: 30px;
  width: 30px;
}

.frase {
  width: 500px;
  background-color: rgba(9, 92, 120, 0.7);
  padding: 1rem;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  position: absolute;
  top: 25%;
  display: none;
}
.frase .button-close-block {
  position: relative;
  right: calc(-100% + 10px);
  top: -10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.frase .button-close-block img {
  width: 20px;
  height: 20px;
  opacity: 0.9;
}
.frase div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 90%;
  float: left;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.not-hidden {
  display: flex;
  animation: show 0.3s ease;
}

@keyframes close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hidden {
  animation: close 0.3s ease;
}

.blur {
  filter: blur(15px);
}

.container-themes {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 1rem !important;
}
.container-themes .button-theme {
  background-color: black;
  width: 35px;
  height: 30px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.438);
  cursor: pointer;
}
.container-themes .button-theme:hover {
  transform: scale(1.1);
  animation: scale 0.3s ease;
}
.container-themes .white {
  background-color: white;
}
.container-themes .blue {
  background-color: blue;
}
.container-themes .smerald {
  background-color: rgb(9, 92, 120);
}
.container-themes .pink {
  background-color: pink;
}
.container-themes .purple {
  background-color: purple;
}

.container-button-show-title {
  display: flex !important;
  flex-direction: row !important;
}
.container-button-show-title button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.container-button-show-title button:hover {
  transform: scale(1.1);
  animation: scale 0.3s ease;
}

.container-custom-phrase {
  display: none !important;
}

.container-button-save {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 1rem;
}
.container-button-save .button-save {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  width: 100px;
  height: 35px;
}
.container-button-save .button-save:hover {
  transform: scale(1.1);
  animation: scale 0.3s ease;
}
.container-button-save .button-save:active {
  opacity: 0.5;
}

#container-checkbox {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
