@import "animaciones";

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    font-family: sans-serif;
    background-color: #181A1B;
    overflow-x: hidden;
}

#date{
    background-color: white;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-size: 1.25rem;
}

h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    img{
        width: 40px;
    }
}

.task{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    padding: 1rem;
    margin: .5rem;
    background-color: rgb(9, 92, 120);
    border-radius: 5px;
    p{
        color: white;
        background-color: black;
        border-radius: 10px;
        padding: 5px 10px;
        text-align: center;
        font-size: 1.2rem;
        max-width: 50vw;
    }
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
}

.selected{
    transform: scale(1.1);
}

.cheked{
    text-decoration: line-through;
}

.checked-parent{
    opacity: .6;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    input{
        height: 1.5rem;
        width: 13rem;
        padding: 0.3rem 0;
        outline: none;
        font-size: 1.4rem;
    }
}

#btn-replace{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    img{
        width: 30px;
        height: 30px;
    }
    &:hover{
        transform: scale(1.2);
        transition: all .04s ease-in;
    }
}

#btn-delete{
    @extend #btn-replace;
}

#btn-check{
    @extend #btn-replace;
}

#addTask{
    @extend #btn-replace;
    img{
        width: 45px;
        height: 45px;
    }
}

#cleanTasks{
@extend #btn-replace;
@extend #addTask
}

.container-date-idea{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: .7rem;
    margin-top: 2rem;
}

#idea{
    @extend #btn-replace;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        background-color: white;
        border-radius: 50%;
        padding: 0.4rem;
        height: 30px;
        width: 30px;
    }
}

.frase{
    width: fit-content;
    background-color: rgb(9,92,120, .7);
    padding: 1rem;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    position: absolute;
    top: 25%;
    display: none;
    .button-close-block{
        position: relative;
        right: calc(-100% + 10px);
        top: -10px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        img{
            width: 20px;
            height: 20px;
            opacity: 0.9;

        }
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        width: 90%;
        float: left;
    }
    
}

@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.not-hidden{
    display: flex;
    animation: show .3s ease ;
}

@keyframes close {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.hidden{
    animation: close .3s ease ;
}

.blur{
    filter: blur(15px);
}

#settings{
    @extend #idea;
}

//themes
.container-themes{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 1rem !important;
    .button-theme{
        background-color: black;
        width: 35px;
        height: 30px;
        border-radius: 10px;
        border: 3px solid rgba(0, 0, 0, 0.438);
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
            animation: scale .3s ease;
        }
    }
    .white{
        background-color: white;
    }
    .blue{
        background-color: blue;
    }
    .smerald{
        background-color: rgb(9,92,120);
    }
    .pink{
        background-color: pink;
    }
    .purple{
        background-color: purple;
    }
}

.container-button-show-title{
    display: flex !important;
    flex-direction: row !important;
    button{
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
            animation: scale .3s ease;
        }
    }
}


.container-custom-phrase{
    display: none !important;
}

.container-button-save{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 1rem;
    .button-save{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    height: 35px;
        &:hover{
            transform: scale(1.1);
            animation: scale .3s ease;
        }
        &:active{
            opacity: 0.5;
        }
}
}

#container-checkbox{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center;
}