@import "animaciones";

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    font-family: sans-serif;
    background-color: #181A1B;
    overflow-x: hidden;

}

#date{
    background-color: white;
    padding: 0.3rem 0.7rem;
    border-radius: 15px;
}

h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    img{
        width: 40px;
    }
}

.task{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(9, 92, 120);
    border-radius: 5px;
    p{
        color: white;
        background-color: black;
        border-radius: 10px;
        padding: 0 10px;
        text-align: center;
    }
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
}

.selected{
    transform: scale(1.1);
}

.cheked{
    text-decoration: line-through;
}

.checked-parent{
    opacity: .6;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    input{
        height: 1.5rem;
        outline: none;
        padding: 0rem .4rem;
    }
}

#btn-replace{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    img{
        width: 20px;
        height: 20px;
    }
    &:hover{
        transform: scale(1.2);
        transition: all .04s ease-in;
    }
}

#btn-delete{
    @extend #btn-replace;
}

#btn-check{
    @extend #btn-replace;
}

#addTask{
    @extend #btn-replace;
    img{
        width: 35px;
        height: 35px;
    }
}

#cleanTasks{
@extend #btn-replace;
@extend #addTask
}

.container-date-idea{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: .5rem;
    margin-top: 2rem;
}

#idea{
    @extend #btn-replace;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        background-color: white;
        border-radius: 15px;
        padding: 0.3rem;
    }
}

.frase{
    width: 70vw;
    background-color: rgb(9,92,120, .7);
    padding: 1rem;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    position: absolute;
    top: 25%;
    display: none;
    button{
        position: relative;
        right: calc(-100% + 10px);
        top: -10px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: transparent;
        border: none;
        img{
            width: 20px;
            height: 20px;
            opacity: 0.9;

        }
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        width: 90%;
        float: left;
    }
    
}

@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.not-hidden{
    display: flex;
    animation: show .3s ease ;
}

@keyframes close {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.hidden{
    animation: close .3s ease ;
}

.blur{
    filter: blur(5px);
}

